{% extends "layout.html" %}
{% block content %}
<div class="container" id="cal-container">
  <div class="row">
    <div class="col-3">

      <!-- create event-->
      <div class="row">
        <button type="button" class="btn event-btn white" id="create" data-toggle="modal"
          data-target="#create-event">Create
          Event</button>
      </div>

      <!-- search event -->
      <div class="row input-group mb-3">
        <input class="form-control" type="text" placeholder="Search event" aria-label="Search" id="search-input"
          aria-describedby="search">
        <div class="input-group-append">
          <span class="input-group-text" id="search">Search</span>
        </div>
      </div>


      <!-- share calendar -->
      <label for="share">Share calendar with other users:</label>
      <div class="row input-group mb-3">

        <input class="form-control" type="text" placeholder="Enter email" aria-label="share" id="share_email"
          aria-describedby="search">
        <div class="input-group-append">
          <span class="input-group-text" id="share">Share</span>
        </div>
      </div>

      <!-- share calendar alerts -->
      <div class="alert alert-success share-alert" id="share-success" role="alert">
        Calendar shared!
      </div>
      <div class="alert alert-danger share-alert" id="share-error" role="alert">
        User does not exist.
      </div>

      <!-- events card -->
      <div class="row">
        <div class="card" id="event-card">
          <div class="card-header white" id="card-title">
            Events
          </div>
          <div class="card-body" id="event-card-body">
            <ul class="list-group list-group-flush" id='events-list'>
              Click a date to view events.
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <!-- calendar table -->
      <div class="row">
        <div class="col-3">
          <button type="button" class="btn btn-light" id="prev" class="move-month"><<</button>
          <button type="button" class="btn btn-light" id="next" class="move-month">>></button>
        </div>
        <div class="col-6">
          <h1 id="month-name"></h1>
        </div>
      </div>
      <div id="table-div">
        <table class="table table-bordered" id="cal-table">
          <thead>
            <tr>
              <th scope="col" class="white">Mon</th>
              <th scope="col" class="white">Tue</th>
              <th scope="col" class="white">Wed</th>
              <th scope="col" class="white">Thu</th>
              <th scope="col" class="white">Fri</th>
              <th scope="col" class="white">Sat</th>
              <th scope="col" class="white">Sun</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- modal to create/edit event -->
<div class="modal fade" id="create-event" data-event-id='con' role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-heading">Create New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="datepicker">Date:</label>
            <input type="text" id="datepicker" class="form-control">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="all-day-check" aria-describedby="help-box">
            <label class="form-check-label" for="all-day-check">Full day event</label>
            <small id="help-box" class="form-text text-muted">
              Selecting full day event will default start time to 00:00 and end time to 23:59.
            </small>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <label for="start-timepicker">Start time:</label>
                <input type="text" class="timepicker form-control" id="start-timepicker">
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="end-timepicker">End time:</label>
                  <input type="text" class="timepicker form-control" id="end-timepicker">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="title">Event title: </label>
              <input type="text" id="title" class="form-control">
            </div>
            <div class="alert alert-danger" id="title-error" role="alert">
              Event title must be entered
            </div>
            <div class="form-group">
              <label for="description">Description: </label>
              <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Cancel</button>
        <button type="submit" class="btn btn-primary" id="save-event">Save</button>
      </div>
    </div>
  </div>
</div>


<script src="{{url_for('static', filename='cal.js')}}"></script>

{% endblock %}