{% extends "layout.html" %}
{% block content %}

<!-- login -->
<div class="container" id="login">
    <div class="landing-text">
        <h3 id="login-title">Enter email to login</h3>
        <form name="login" action="/home">
            <label for="inputEmail"></label>
            <input type="email" name="email" id="enter_email" class="form-control" placeholder="Enter Email" required
                autofocus>
            <div>
                <button type="submit" class="btn btn-default btn-lg" id="go">Go</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}