.table {
    border-radius: 5px;
    width: 80%;
    height: 80%;
    margin: 0px auto;
    float: none;
}

#table-div{
    height: 650px;
}

#month-name {
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
    float: none;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

th,td {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

td {
    cursor: pointer;
}


.table-cell:hover {
    background-color: #E8E8E8;
}

.modal-backdrop {
    background-color: transparent;
 }

 .modal.fade{
    opacity:1;
  }
  /* .modal-content { background: #E0E0E0 !important; } */


  /* remove modal transition effect */
  .modal.fade .modal-dialog {
     -webkit-transform: translate(0);
     -moz-transform: translate(0);
     transform: translate(0);
  }

  /* hide event details by default */
  #event-collapse, #event-details-btn   {
      display:none;
  }

  #title-error {
      display: none;
  }


  #navbar-cal {
    background-color: #DDAF94;
  }

  thead {
      background-color: #266150;
  }

  .card-header {
    background-color:  #266150;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #F4976C;}