.table {
    border-radius: 5px;
    width: 90%;
    height: 90%;
    margin: 0px auto;
    float: none;
}

#table-div{
    height: 650px;
}

#month-name {
    border-radius: 5px;
    width: 80%;
    margin: 0px auto;
    float: none;
    text-align: left;
    margin-bottom: 20px;
}

th,td {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

td {
    cursor: pointer;
}

.table-cell:hover {
    background-color: #E8E8E8;
}

.modal-backdrop {
    background-color: transparent;
 }

 .modal.fade{
    opacity:1;
  }

  /* remove modal transition effect */
  .modal.fade .modal-dialog {
     -webkit-transform: translate(0);
     -moz-transform: translate(0);
     transform: translate(0);
  }

  /* hide event details by default */
  #event-collapse, #event-details-btn   {
      display:none;
  }

  #title-error {
      display: none;
  }

  #navbar-cal {
    background-color: #DDAF94;
  }

  thead {
      background-color: #266150;
  }

  .card-header {
    background-color:  #266150;
  }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #F4976C;}


.dot {
    height: 20px;
    width: 20px;
    background-color: #DDAF94;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    }

#share-result {
    display:none;
}

.empty{
    background-color: #F0F0F0;
}

/* login page landing text */
.landing-text {
    position: absolute;
	text-align: center;
	vertical-align: middle;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;

}

#enter_email {
    margin-bottom: 20px;
}

#login-title {
    color: #808080;
}

#prev {
    margin-left: 85px;
}

.btn {
    background-color: #DCDCDC;
}

#cal-container {
    margin-top: 50px;
}

.event-btn {
    margin-bottom: 5px;
}

#event-card{
    width: 400px;
    max-height: 400px !important;
}

#event-card-body{
    overflow-y: scroll;
}

#create {
    background-color: #DDAF94;
    font-weight: 500;
}

.white {
    color: white;
}

#save-event {
    background-color:  #266150;
    border: 0px;
}

#cancel {
    background-color: #DDAF94;
    border: 0px;
}

.share-alert{
    display:none;
}